<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Slate</title>

    <link 
        rel="stylesheet" 
        href="https://www.styles.ktolliver.org/Blank-Slate/main.css" 
        defer
    />
    <script 
        src="https://www.styles.ktolliver.org/toggle.js" 
        defer
    ></script>
</head>
<body>
    <header>
        <h1>Blank Slate</h1>
        <hr />
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <hr />
        {% block footer %}{% endblock %}
    </footer>
</body>

</html>